<ng-container *ngIf="true">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>name</td>
                        <td>image</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, facilis?</td>
                        <td>23000</td>
                        <td>30000</td>
                        <td><button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">
                My Cart
            </h5>
        </div>

        <div class="center">
            <img src="https://images.unsplash.com/photo-1518043129420-ed9d4efcdcc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bW92aWUlMjBzaG9wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <h4>Cart is empty</h4>
            <button class="btn btn-primary">Shop Movie Now</button>
        </div>
    </div>

</ng-container>