<ng-container *ngIf="products.length != 0"> <!-- movie in cart -->
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Movie Name</th>
                            <th>Image</th>
                            <th>Overview</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{items.original_title}}</td>
                            <td><img src="https://image.tmdb.org/t/p/w500/{{items.poster_path}}" alt=""
                                    style="height: 10rem;"></td>
                            <td>{{items.overview}}</td>
                            <td>
                                <button (click)="removeItem(items)" class="btn btn-danger"><i
                                        class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row ">
            <div class="col d-flex justify-content-end">
                <button (click)="emptycart()" class="btn btn-danger mx-2">Empty Cart</button>
                <button routerLink="/movielist" class="btn btn-primary mx-2">Shop more</button>
                <button class="btn btn-success mx-2" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Checkout</button>
            </div>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cash</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://images.unsplash.com/photo-1595079676339-1534801ad6cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cXIlMjBjb2RlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</ng-container>


<ng-container *ngIf="products.length == 0"> <!-- cart empty -->
    <div class="container">
        <div class="card">
            <h5 class="card-title">
                My Cart
            </h5>
        </div>

        <div class="center">
            <img src="https://images.unsplash.com/photo-1518043129420-ed9d4efcdcc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bW92aWUlMjBzaG9wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <h4>Cart is empty</h4>
            <button routerLink="/movielist" class="btn btn-primary">Shop Movie Now</button>
        </div>
    </div>

</ng-container>