<!-- <div class="card">
    <p>{{movieList | json}}</p>
</div> -->

<div class="container-fluid">
    <div class="row ">
        <ng-container *ngFor="let item of movieList">
            <ng-container *ngFor="let items of item.results">             
                    <div class="card col-md-3">
<!--                        <p>{{items.id}}</p> -->
                            <img src="https://image.tmdb.org/t/p/w500/{{items.poster_path}}" alt="">    
                            <p><strong>{{items.original_title}}</strong></p>   
<!--                             <p>{{items.overview}}</p> -->
                            <p>{{items.vote_average}}</p>       
                    </div>            
            </ng-container>
        </ng-container>


    </div>
</div>